model/ietf-netconf-server-gdefs-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:ncserver="urn:ietf:params:xml:ns:yang:ietf-netconf-server" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><define name="ietf-inet-types__ipv6-address"><data type="string"><param name="pattern">((:|[0-9a-fA-F]{0,4}):)([0-9a-fA-F]{0,4}:){0,5}((([0-9a-fA-F]{0,4}:)?(:|[0-9a-fA-F]{0,4}))|(((25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9]?[0-9])))(%[\p{N}\p{L}]+)?</param><param name="pattern">(([^:]+:){6}(([^:]+:[^:]+)|(.*\..*)))|((([^:]+:)*[^:]+)?::(([^:]+:)*[^:]+)?)(%.+)?</param></data></define><define name="ietf-inet-types__port-number"><data type="unsignedShort"><param name="minInclusive">0</param><param name="maxInclusive">65535</param></data></define><define name="ietf-netconf-server___ssh-config"><optional><element name="listen"><optional><choice><group><element name="port"><ref name="ietf-inet-types__port-number"/></element></group><group><zeroOrMore><element name="interface"><element name="address"><ref name="ietf-inet-types__ip-address"/></element><optional><element name="port"><ref name="ietf-inet-types__port-number"/></element></optional></element></zeroOrMore></group></choice></optional></element></optional></define><define name="ietf-inet-types__ip-address"><choice><ref name="ietf-inet-types__ipv4-address"/><ref name="ietf-inet-types__ipv6-address"/></choice></define><define name="ietf-inet-types__ipv4-address"><data type="string"><param name="pattern">(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(%[\p{N}\p{L}]+)?</param></data></define></grammar>
